* {
   padding: 0;
   margin: 0;
   list-style: none;
   outline: none;
   font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
   box-sizing: border-box;
}

.picker-date {
   padding: 40px;
}
.picker-date-wrapper {
   position: relative;
   max-width: 100%;
   width: 220px;
}

.picker-date-pannel-container {
   display: inline-block;
   max-width: 350px;
   width: 100%;
   margin-top: 8px;
}

.picker-date-pannel {
   background: #fff;
   border-radius: 8px;
   padding: 8px;
   width: 100%;

   box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 9px 28px 8px rgb(0 0 0 / 5%);

   &__header {
      min-height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 6px;
      border-bottom: 1px solid rgba(5, 5, 5, 0.06);

      &-icon {
         cursor: pointer;
         color: #9a9a9a;

         transition: color 0.2s ease-in-out;

         &:hover {
            color: black;
         }
      }

      span {
         text-align: center;
         font-size: 20px;
         font-weight: 600;
         line-height: 20px;
      }
   }
   &__body {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      height: 280px;
      background-color: white;

      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-column-gap: 6px;
      grid-row-gap: 6px;
   }
   &__footer {
      width: min-content;
      min-width: 100%;
      padding-top: 5px;
      line-height: 44px;
      text-align: center;

      border-top: 1px solid rgba(5, 5, 5, 0.06);

      span {
         cursor: pointer;
         font-size: 18px;
         color: #1677ff;
         transition: color 0.2s ease-in-out;

         &:hover {
            color: #69b1ff;
         }
      }
   }

   &__item {
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.04);
      text-align: center;
      font-size: 17px;
      line-height: 32px;
      border-radius: 6px;

      transition: background-color 0.2s ease-in-out;
      &:hover {
         background: rgba(0, 0, 0, 0.04);
      }
      &--selected {
         border-color: #1677ff;
      }
      &--cur {
         color: red;
      }
      &--notCurMonth {
         color: rgba(0, 0, 0, 0.25);
      }
   }
   &__day {
      font-weight: 500;
      text-align: center;
      font-size: 17px;
      line-height: 32px;
   }
}

.picker-date-input {
   width: 100%;
   padding: 8px 11px;
   color: rgba(0, 0, 0, 0.88);
   font-size: 18px;
   line-height: 1.5714285714285714;
   list-style: none;
   border: 1px solid #d9d9d9;
   border-radius: 6px;
   transition: border 0.2s, box-shadow 0.2s;

   &__icon {
      position: absolute;
      top: 50%;
      right: 6%;

      color: #9a9a9a;
      transform: translateY(-50%);
   }
   &:hover {
      border-color: #4096ff;
   }

   &:focus {
      border-color: #4096ff;
      box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
      border-inline-end-width: 1px;
   }
}
